# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.BlogProject.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Vedat\Desktop\Angular\BlogProject\.idea\.idea.BlogProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
